.title {
  h1 {
    font-weight: 700;
    font-size: 39px;
    line-height: 100%;
    color: #222222;
    margin-bottom: 5px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #22222280;
  }
}
@media screen and (max-width: 992px) {
  .title {
    h1 {
      font-size: 30px;
    }
    p {
      line-height: 22px;
    }
  }
}